<div class="alert alert-default">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugiat iure laudantium porro repudiandae rerum
    unde. Animi, deserunt dolores eligendi, exercitationem expedita fuga ipsa iusto libero nostrum optio, quos
    voluptates?
</div>